opendelta
pytz>=2020.1
python-dateutil>=2.8.1
decorator
gitpython
sklearn
scipy
web.py
transformers>=4.10.0
datasets>=1.17.0
rich
tqdm>=4.62.2
oss2==2.15.0
yacs>=0.1.6
requests!=2.9.0
crcmod>=1.7
pycryptodome>=3.4.7
aliyun-python-sdk-kms>=2.4.1
aliyun-python-sdk-core>=2.13.12
six
multiprocess
huggingface-hub<1.0.0,>=0.2.0
pyyaml>=5.1
responses<0.19
packaging
dill<0.3.7
xxhash
fsspec[http]>=2021.11.1
pyarrow>=6.0.0
aiohttp
nvidia-cublas-cu11==11.10.3.66
nvidia-cudnn-cu11==8.5.0.96
typing-extensions
nvidia-cuda-nvrtc-cu11==11.7.99
wheel
filelock
regex!=2019.12.17
gitdb<5,>=4.0.1
commonmark<0.10.0,>=0.9.0
pygments<3.0.0,>=2.6.0
cheroot
frozenlist>=1.1.1
yarl<2.0,>=1.0
charset-normalizer<3.0,>=2.0
aiosignal>=1.1.2
async-timeout<5.0,>=4.0.0a3
attrs>=17.3.0
multidict<7.0,>=4.5
smmap<6,>=3.0.1
pyparsing!=3.0.5,>=2.0.2
urllib3<1.27,>=1.21.1
certifi>=2017.4.17
idna<4,>=2.5
jaraco.functools
jmespath<1.0.0,>=0.9.3
cffi>=1.12
pycparser
bigmodelvis
tokenizers!=0.11.3,<0.14,>=0.11.1